
@{
    ViewBag.Title = "Virement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        Para Gönderme
    </header>

    <br><br>

    <div class="container">
        <form>
            <fieldset>
                <div id="legend">
                    <legend class=""> *Lütfen bilgileri giriniz </legend>
                </div>
                <div class="form-group">
                    <label for="hesapNo"> Gönderilecek Hesap No </label>
                    <input type="text" required class="form-control" id="hesapNo"
                           placeholder="HesapNo">

                </div>

                <div class="form-group">

                    <label for="miktar">  Miktar </label>
                    <input type="text" required class="form-control" id="miktar"
                           placeholder="Miktar">
                </div>

    </div>

    </div>
    <br><br>
    <button type="button" class="btn btn-info btn-lg btn-block">
        <a href="form_component.html"> DEVAM </a>
    </button>
</section>
                        </div>
